{% extends "admin/change_list.html" %}

{% load url from future %}
{% load i18n admin_static admin_list %}

{% block content %}{{ block.super }}
<div class="module">
    <form action="{% url "admin:mediafile_bulk_upload" %}" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
    <p style="color: #666; font-size: 11px;">
        <label for="data">{% trans "Bulk upload a ZIP file:" %}
            <input type="file" name="data">
        </label>
        | {% trans "Category" %}
        <select name="category">
            <option value="">---</option>
            {% for cat in categories %}
                <option value="{{ cat.id }}">{{ cat.path }}</option>
            {% endfor %}
        </select>
        | {% trans "Overwrite" %}
        <input type="checkbox" name="overwrite">
        |
        <input type="submit" value="{% trans "Send" %}">
    </p>
    </form>
</div>
<script type="text/javascript">
if (window.location.href.indexOf('pop=1') != -1) {
    (function($){
        $(function() {
            $('#result_list img').bind('click', function() {
                $(this).parents('tr').find('th:nth(0) a').trigger('click');
                return false;
            });
        });
    })(django.jQuery);
}
</script>
{% endblock %}

{# Copied from contrib/admin/templates/admin/change_list.html #}
{% block filters %}
{% if cl.has_filters %}
  <div id="changelist-filter">
    <h2>{% trans 'Filter' %}</h2>
    {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
    <div style="margin-top: 20px;">
        <form id="immediate-upload" action="{% url "admin:mediafile_simple_upload" %}" method="post" enctype="multipart/form-data" style="position: relative; bottom: 0; overflow: hidden; height: 150px; outline: 2px dashed green;">
            {% csrf_token %}
            <input type="file" name="data" style="width: 100%; height: 900px; overflow: hidden; position: relative; top: -50px;" onchange="$('#immediate-upload').submit(); return false;" onclick="return false;">
            <div style="position: absolute; top: 70px; width: 100%; z-index: -10;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Drop files here
            </div>
        </form>
    </div>
  </div>
{% endif %}
{% endblock %}
